### O roadmap de finanças quantitativas e como pegar dados financeiros de fontes gratuitas

coleta de dados

In [1]:
import yfinance as yf

In [3]:
data = yf.download('ITSA4.SA')

data

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2000-01-03   0.836166   0.939010   0.831694   0.889823   0.408163  12526017
2000-01-04   0.858523   0.858523   0.804865   0.804865   0.369192  14701920
2000-01-05   0.809337   0.871938   0.778037   0.871938   0.399959  11159466
2000-01-06   0.867466   0.889823   0.862995   0.885352   0.406112  28115764
2000-01-07   0.894295   0.907709   0.871938   0.880880   0.404061  13659848
...               ...        ...        ...        ...        ...       ...
2024-04-01  10.500000  10.550000  10.170000  10.220000  10.220000  16297100
2024-04-02  10.200000  10.230000  10.110000  10.180000  10.180000  16861800
2024-04-03  10.180000  10.220000  10.060000  10.180000  10.180000  14824100
2024-04-04  10.200000  10.310000  10.000000  10.050000  10.050000  22398900
2024-04-05  10.060000  10.080000   9.910000   9.990000   9.990000  17682200

[6092 rows x 6 columns]

In [9]:
data_port = yf.download('ITSA4.SA ABCB4.SA')['Close']
data_port

[*********************100%%**********************]  2 of 2 completed

Ticker       ABCB4.SA   ITSA4.SA
Date
2000-01-03        NaN   0.889823
2000-01-04        NaN   0.804865
2000-01-05        NaN   0.871938
2000-01-06        NaN   0.885352
2000-01-07        NaN   0.880880
...               ...        ...
2024-04-01  25.420000  10.220000
2024-04-02  25.080000  10.180000
2024-04-03  24.570000  10.180000
2024-04-04  24.559999  10.050000
2024-04-05  24.459999   9.990000

[6092 rows x 2 columns]